 <div class="container clearfix">
    <div class="people-list" id="people-list">
      <div class="search">
        <input type="text" placeholder="search" />
        <i class="fa fa-search"></i>
      </div>
      <ul class="list">
        <li class="clearfix" *ngFor="let user of onlineUsers">
          <img src="{{user.profilePicUrl}}" alt="avatar" />
          <div class="about">
            <div class="name">{{user.userName}}</div>
            <div class="status">
              <i class="fa fa-circle online"></i> {{user.onlineStatus?"online":"offline"}}
            </div>
          </div>
        </li>
    
        
      </ul>
    </div>
    
    <div class="chat">
      <div class="chat-header clearfix">
        <img src="https://img.icons8.com/ios-glyphs/30/000000/user.png" alt="avatar" />
        
        <div class="chat-about">
          <div class="chat-with">Chat with {{loginService.userName}}</div>
          <div class="chat-num-messages">already 1 902 messages</div>
        </div>
        <i class="fa fa-star"></i>
      </div> <!-- end chat-header -->
      
      <div class="chat-history">
        <ul>
          <li class="clearfix">
            <div class="message-data align-right" >
              <span class="message-data-time" >10:10 AM, Today</span> &nbsp; &nbsp;
              <span class="message-data-name" >{{loginService.userName}}</span> <i class="fa fa-circle me"></i>
              
            </div>
            <div class="message other-message float-right">
              Hi {{loginService.friendUser}}, how are you? How is the project coming along?
            </div>
          </li>
          
          <li class="clearfix">
            <div class="message-data">
              <span class="message-data-name"><i class="fa fa-circle online"></i> {{loginService.friendUser}}</span>
              <span class="message-data-time">10:12 AM, Today</span>
            </div>
            <div class="message my-message">
              Are we meeting today? Project has been already finished and I have results to show you.
            </div>
          </li> 

          <li *ngFor="let message of messageSet">
            <div class="message-data" [ngClass]="message.operation==='RECEIVING'?'message-data':'message-data align-right'">
              <span class="message-data-name"><i class="fa fa-circle online"></i> {{message.operation==='RECEIVING'?loginService.friendUser:loginService.userName}}</span>
              <span class="message-data-time">{{message.messageTime}}</span>
            </div>
            <div class="message my-message" [ngClass]="message.operation==='RECEIVING'?'message my-message':'message other-message float-right'">
              {{message.message}}
            </div>
          </li> 
        </ul>
        
      </div> <!-- end chat-history -->
      
      <div class="chat-message clearfix">
          <form [formGroup]="chatFormGroup">
        <textarea [formControlName] = "messageControl" name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>
                
        <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
        <i class="fa fa-file-image-o"></i>
        </form>
        <button (click)="sendMessage()" [disabled] = "!chatFormGroup.valid">Send</button>

      </div> <!-- end chat-message -->
      
    </div> <!-- end chat -->
    
  </div> <!-- end container -->
